html, body{
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif, Verdana, Geneva, Tahoma;
}

.container{
    overflow: hidden;
    max-width: 2560px;
    min-height: 100vh;

    background-color: #333333;
    color: white;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

footer{
    background-color: #1f1f1f;

    font-size: .8rem;
    color: var(--quinary-color-clear);
    text-align: center;
    padding: 1rem .8rem;  

    box-sizing: border-box;
    width: 100%;

    position: absolute;
    bottom: 0;
}

.small-letter{
    font-size: .8rem;
    font-weight: 200;
}

.medium-letter{
    font-size: 1.2rem;
}

.large-letter{
    font-size: 3.1rem;
}

.margin-tb-rem{
    margin: 1rem 0;
}

.margin-lr-rem{
    margin-left: 1rem;
    margin-right: 1rem;
}

@media only screen and (min-width: 1024px) {
    html{
        font-size: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    html{
        font-size: 32px;
    }
}

@media only screen and (min-width: 2560px) {
    html{
        font-size: 48px;
    }
}