<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Links Google Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <title>The Cloud Is Coming</title>

    <!-- link hojas de estilo -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">
        <form id="search-form" class="margin-tb-rem">
            <input id="search-input" type="text" placeholder="Busca tu ciudad">
        </form>

        <div class="current-climate">
            <div class="flex-column margin-lr-rem city-container">
                <span class="medium-letter">Ciudad, Provincia</span>
                <div class="small-letter">
                    <span id="currentWeekday">Sab</span>, 
                    <span id="currentTime">15:00</span>, 
                    <span id="currentDescription">Nublado</span>
                </div>
            </div>

            <div class="flex-row container-info-climate">
                <div class="flex-row">
                    <img id="currentIcon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                    <div class="flex-row">
                        <span id="currentTemp" class="large-letter">9</span><span class="small-letter thermometric-unit">°C|°F</span>
                    </div>
                </div>
                <div class="flex-column weather-conditions small-letter">
                    <div>
                        Precip: <span class="small-letter" id="currentPop">4</span>%
                    </div>
                    <div>
                        Humedad: <span class="small-letter" id="currentHumidity">65</span>%
                    </div>
                    <div>
                        Viento: a <span class="small-letter" id="currentWind">65</span> km/h
                    </div>
                </div>
            </div>
            
            <div id="container-input-range">
                <input type="range" list="tickmarks" min="0" max="10" value="0" step="1">
            </div>

        </div>
        <div class="future-climate-container flex-row">
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
            <div class="inner-container-fc flex-column">
                <span class="future-day">SAB</span>
                <img class="future-icon" src="http://openweathermap.org/img/wn/04d@2x.png" alt="Weather icons">
                <span class="future-max">15°.</span>
                <span class="future-min">2°.</span>
            </div>
        </div>

        <footer>
            Copyright © Gabriel Barbarin Gorostegui 2021.
        </footer>
    </div>

<script type="module" src="../script/forecast/script.js"></script>
</body>
</html>